*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* UTILs */
body, h3, ul, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

a {
    color: #090909;
    text-decoration: none;
}

.header, .section-container, footer {
    padding-inline: 1.25rem;
}

/* HEADER */

.header {
    margin-block: auto;
    align-items: center;
    margin-block: 1.125rem;
}

.header-logo {
    padding-right: 0.188rem;
    width: 1.375rem;
    height: 1.375rem;
}

.header-title {
    font-size: 0.844rem;
    color: #0E0E0E;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 1.938rem;
    margin-left: auto;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; 
}

li {
    font-weight: 500;
    font-size: 0.75rem;
}

/* BLOG */

.section-container {
    margin-top: 2.215rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.blog {
    margin-bottom: 2.563rem;
    flex: 1 400px;
}

.blog > img {
    width: 100%;
    margin-bottom: 0.875rem;
    object-fit: cover;
}

.blog > h4, .blog > h3 {
    margin-bottom: .563rem;
}

.blog > h4 {
    font-weight: 100;
    font-size: 0.875rem;
}

.blog > h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.blog > p {
    color: #505050;
}

/* FOOTER */

footer {
    background-color: #202020;
}

.footer-container {
    flex-direction: column;
    padding-block: 2.313rem;
}

.footer-container > p {
    color: white;
    font-size: .75rem;
}

.footer-container p:first-of-type {
    font-weight: bold;
}



/* UTILITY */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {

    p {
        font-size: 1.5rem;
    }

    /* HEADER */

    header {
        padding-block: .5rem;
    }

    .header-title {
        font-size: 1.25rem;
    }

    li {
        font-size: 1rem;
    }

    /* BLOG */

    .section-container {
        justify-content: space-between;
    }

    .blog {
        flex: 1 200px;
        margin-bottom: 46px;
    }

    .blog > img {
        height: 50vh;
    }

    .blog > h4 {
        margin-top: 14px;
        font-size: 1.1rem;
    }

    .blog > h3 {
        margin-top: 14px;
        margin-bottom: 9px;
        font-size: 2.5rem;
    }
}